services:
  devcontainer:
    build:
      dockerfile: Containerfile
    command: sleep infinity
    volumes:
      - ..:/nanadev:cached

  gel:
    image: geldata/gel:7
    environment:
      - GEL_SERVER_USER=admin
      - GEL_SERVER_PASSWORD=password
      - GEL_SERVER_SECURITY=insecure_dev_mode
      - GEL_SERVER_ADMIN_UI=enabled
    ports:
      - "5656:5656" # for web ui
    restart: unless-stopped

  meilisearch:
    image: getmeili/meilisearch:v1
    restart: unless-stopped

  valkey:
    image: valkey/valkey:9-alpine
    command: valkey-server --save 60 1 --loglevel warning
    restart: unless-stopped
